<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/mvc 
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Habilita as annotations do Spring MVC -->
	<mvc:annotation-driven />
	
	<!-- Configura o Spring MVC para acessar conteúdo estático -->
	<mvc:default-servlet-handler />
	
	<!-- Definição da view a ser carregada no contexto raiz da aplicação -->
	<!-- <mvc:view-controller path="/" view-name="home"/> -->
	
	<!-- Define a localização das views da aplicação -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- Configuração para mensagens internacionalizadas.
	Para alternar entre as mensagens basta enviar uma requisição informando como parâmetro
	o 'locale', por exemplo, \?locale=pt_BR para português e \?locale=en_US para inglês -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
	    <property name="basename" value="/WEB-INF/mensagens/i18n" />
	</bean>
	<mvc:interceptors>
		<!-- Changes the locale when a 'locale' request parameter is sent; e.g. /?locale=de -->
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	</mvc:interceptors>
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver" />

</beans>